.card {
  background-color: #fff !important;
  .title {
    color: #000 !important;
  }
  label {
    color: #000 !important;
  }
}

.btn-fill {
  color: #d1aa67 !important;
  float: right;
  .btn-secondary {
    background-color: #1e1e1e !important;
  }
}
